// 左侧菜单相关颜色
$menu-background-color: #f8f8f8;
$default-color: #83848c;
$move-in-menu-color: #f0f4f7;


// 系统主题颜色
$system-color: #4f54f6;
$system-color-one:#9d9ffb;
$system-color-two:#7b7efb;
$system-color-three:#FF5E42;

// 系统文字大小
$font-one:17px;
$font-two:15px;
$font-three:13px;



